.banner {
    width: 97%;
    background-color: chocolate;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column; /* Aligns child elements in a column */
    margin: 0 auto;
}